* {
    padding: 0;
    margin: 0;
}


/* 登录界面 */

.login {
    display: block;
    width: 700px;
    height: 500px;
    background-color: #eee;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
}

.loginTop {
    width: 100%;
    height: 50px;
    background-color: #68bd76;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.user {
    position: relative;
    width: 100%;
    height: 70px;
}

label {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

#nickName {
    border: 1px solid #ccc;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    outline: none
}

#avatar {
    width: 100%;
    text-align: center;
}

.avatarInformation,
.scavatar {
    width: 100%;
}

.avatarInformation img {
    position: relative;
    margin-top: 20px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.btnsc {
    position: relative;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #68bd76;
    border-radius: 5px;
    border: none;
}

#fileIpt {
    display: none;
}

.enter {
    width: 100%;
    margin-top: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #68bd76;
}


/* 聊天界面 */

.main {
    display: none;
    position: relative;
    left: 50%;
    top: 50%;
    width: 1000px;
    height: 600px;
    background-color: #eee;
    transform: translate(-50%, 20%);
}

.left {
    float: left;
    width: 24.8%;
    height: 100%;
    border-right: 1px solid #ccc;
}

.right {
    float: left;
    width: 75%;
    height: 100%;
}

.top {
    width: 100%;
    height: 8%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 50px;
}

.body {
    overflow-y: scroll;
    width: 100%;
    height: 63%;
    border-bottom: 1px solid #ccc;
}

.bottom {
    width: 100%;
    height: 30%;
}


/* 工具栏 */

.topTool {
    width: 100%;
    height: 15%;
}

.emojibtn {
    width: 25px;
    margin-left: 10px;
}

.sendimgfiles,
.sendvideofiles,
.sendfiles {
    width: 25px;
    margin-left: 5px;
}


/* 发生信息窗口 */


/* 发出图片的最大大小 */

.outimg {
    max-width: 270px;
}

.content {
    width: 100%;
    height: 100%;
    outline: none;
    overflow-y: auto;
}

.sendContent {
    width: 100%;
    height: 62%;
}

.send {
    position: relative;
    width: 100%;
    height: 18%;
}

.kuaisend {
    position: relative;
    left: 73%;
    top: 3px;
    font-size: 14px;
    color: rgb(146, 123, 123);
}

#sendBtn {
    position: absolute;
    right: 10px;
    width: 10%;
    height: 90%;
    border: none;
    border-radius: 3px;
    background-color: rgb(104, 189, 118);
    color: white;
}


/* 发送文件 */

.fileInfo {
    width: 280px;
    height: 110px;
    background-color: #fff;
    border-radius: 5px;
}

.filename {
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.fileImg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fileuser {
    position: absolute;
    left: 23%;
    top: 25%;
    font-size: 15px;
    color: #171a1d;
}

.fileSize {
    position: absolute;
    left: 23%;
    top: 50%;
    font-size: 15px;
}

.download {
    width: 100%;
    height: 29px;
    text-align: center;
}

.download>a {
    display: block;
    width: 100%;
    height: 29px;
    text-decoration: none;
    color: #007fff;
}


/* 消息展示 */

.systemTip {
    position: relative;
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 14px;
    color: rgb(167, 160, 160);
}

.list {
    width: 100%;
    left: 0px;
    top: 0px;
}

.list li {
    position: relative;
    overflow: hidden;
    margin: 10px 0px 10px;
    padding: 10px;
}

.systemMsg {
    height: 10px;
    margin: 0;
    padding: 0;
}


/* 自己的消息 */

.rightmsg .avatar {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: pink;
    border-radius: 5px;
    right: 10px;
}

.rightmsg span {
    position: relative;
    word-break: break-all;
    background-color: #fff;
    padding: 10px 15px;
    max-width: 290px;
    border-radius: 12px;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    margin-right: 60px;
    margin-top: 10px;
    float: right;
}

.rightmsg span::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    right: -5px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(-45deg);
}


/* 别人的消息 */

.leftmsg .avatar {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 5px;
    left: 10px;
}

.leftmsg span {
    position: relative;
    word-break: break-all;
    background-color: #68bd76;
    padding: 10px 15px;
    max-width: 290px;
    border-radius: 12px;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    margin-left: 60px;
    margin-top: 20px;
    float: left;
}

.leftmsg span::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #68bd76;
    left: -3px;
    border-bottom: 1px solid #68bd76;
    border-left: 1px solid #68bd76;
    transform: rotate(45deg);
}

.nick {
    position: absolute;
    left: 70px;
    font-size: 16px;
    top: 6px;
}


/* 其他的消息 */

.othermsg {
    width: 100%;
    height: 100px;
    background-color: aqua;
}